.logo {
    background-image: url("//ali-imgs.acfun.cn/kos/nlav10356/static/common/widget/header/img/acfunlogo.11a9841251f31e1a3316.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 20px;



}

.tabbar-content {
    height: 80px;
    width: 100%;
}